---
import {Wallet} from "../components";
---
<div class="navbar bg-base-300 z-30">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">succus</a>
    </div>
    <div class="flex-none">
        <Wallet client:only="react"/>
    </div>
</div>